
.sin-p{
    padding:0;
}
.sin-m{
    margin:0;
}
/* Color del pie de página */
.pie{
    background-color:gray;
}
.textoPie{
    font-weight: bold;
    font-size: larger;
}
.cards{
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top:2.5%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}


.map-container {
  height: 350px;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
}

@media (max-width: 768px) {
  .map-container {
    height: 250px;
  }
}


